body{
    margin: 10px;
    background-color: black;
}

#home{
    margin-top: -1cm;
    margin-left: -1cm;
    margin-right: -1cm;
    padding-bottom: 2cm;
    padding-top: 1cm;
    background-color: #483355;
}

header{
    font-size: 30px;
    color: rgb(235, 227, 242);
    float: left;
    padding-left: 2cm;
    padding-top: 15px;
}

#btn-nav{
    float: right;
    padding-right: 1cm;
}

.btn{
    color: #d3d3d3;
    background-color: #483355;
    margin: 10px;
    padding: 10px;
    border-radius: 1mm;
    font-size: 20px;
    text-decoration: none;
}

.btn:hover{
    color: white;
    font-weight: bolder;
    background-color: #800080;
    text-decoration: underline;
}

#all-conversion-sections{
    display: grid;
    justify-content: center;
}

figure{
    justify-self: auto;
    float: left;
    width: 200px;
    margin-right: 0;
}

img{
    width: 200px;
}

figcaption{
    color: black;
    font-size: 17px;
    text-align: center;
}

button{
    font-size: 20px;
    border: transparent;
    border-radius: 40px;
    width: fit-content;
    background-color: lightgreen;
    padding-left: 15px;
    padding-right: 15px;
}
button:hover{
    cursor: pointer;
}

.b{
    display: flex;
    border-top-style: solid;
    border-top-width: 20px;
    border-radius: 10px;
    background-color: white;
    width: 600px;
    height: 400px;
    margin-top: 25px;
    margin-bottom: 25px;
}

article{
    padding-right: 20px;
}

.temperature{
    border-top-color: green;
}

.weight{
    border-top-color: coral;
}

.distance{
    border-top-color: cyan;
}

legend{
    font-size: 30px;
    font-weight: bolder;
}

#go-home{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: rgb(225, 235, 235);
    position: fixed;
    left: 0;
    bottom: 40px;
}

.icon-img{
    width: 30px;
}

footer{
    background-color: rgb(240, 234, 245);
    margin-top: 20px;
}
